@use "./vars.scss" as *;

//*NAVBAR
#navbar {
  position: fixed;
  height: 48px;
  width: 100vw;
  // mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: $Black;
}

#navbar-title {
  color: $White;
  padding-left: 16px;
}

#navbar-menu {
  display: flex;
  gap: 16px;
  padding-right: 32px;
  font-size: 14px;
  color: $White;
  p {
    cursor: pointer;
  }
}

//*HOME FIXED ELEMENTS
#home-fixed {
  position: absolute;
  height: 900vh;
  width: 100vw;
  background: $Black;
  opacity: 100%;
  z-index: -20;
  display: flex;
}

#home-bg-logo-stack {
  position: fixed;
  width: 100vw;
  z-index: -5;
}

#home-bg-logo-container {
  position: relative;
  top: -240px;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  svg {
    opacity: 10%;
    width: 30vw;
    z-index: -5;
    overflow-y: hidden;
  }
}

// .svg-logo {
//   position: fixed;
// }

#home-bg-invert-layer {
  position: absolute;
  // overflow-y: hidden;
  top: 48px;
  left: 0;
  width: 100vw;
  height: 900vh;
  background: rgba(0, 0, 0, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 85%
  );
  mix-blend-mode: difference;
  opacity: 100%;
  z-index: -10;
  // filter: blur(16px);
}

// #home-content {
//   background: $Accent;
// }

//*LANDING
#landing {
  width: 100vw;
  height: 100vh;
  // font-family: JetBrainsMono;
  // font-weight: light;
}

#landing-title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // font-family: JetBrainsMono;
  // font-weight: light;
}

#landing-title {
  position: relative;
  color: $White;
  font-size: 17.5vw;
  mix-blend-mode: difference;
  z-index: 0;
}

#landing-capabilities {
  position: absolute;
  color: $White;
  padding-top: 76px;
  padding-left: 16px;
  p {
    font-size: 0.8vw;
    color: $GrayLight;
  }

  .indent-1 {
    padding-left: 0;
  }

  .indent-2 {
    padding-left: 0.8vw;
  }
}

#landing-flavour {
  position: absolute;
  color: $White;
  top: 70vh;
  left: 65vw;
  padding-top: 16px;
  padding-left: 16px;
  width: 20vw;
  p {
    font-size: 0.8vw;
    color: $Black;
  }
}

#landing-scroll-cta-container {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  bottom: 0;
}

#landing-scroll-cta {
  height: 86px;
  width: 185px;
  margin-left: auto;
  margin-right: auto;
  background: $Black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    rgba(22, 23, 23, 1) -100%,
    rgba(103, 103, 103, 1) 160%
  );
  p {
    color: $Accent;
  }
}

#landing-cta-arrow {
  transform: rotate(90deg);
}

//*REEL
#reel {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // font-family: JetBrainsMono;
  // font-weight: light;
}

#reel-image {
  position: absolute;
  top: -280px;
  width: 70vw;
}

//*WORK
#work {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // font-family: JetBrainsMono;
  // font-weight: light;
}

#work-grid {
  width: 100vw;
  display: grid;
  grid-template-columns: 35vw 30vw 35vw;
}

#work-gallery-container {
  grid-column: 1 / 3;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 45vh 1fr;
}

#work-gallery-spacer {
  height: 100%;
  width: 100%;
  grid-row: 1 / 2;
}

//! some work to do here to get a satisfactory
//! scale down behaviour for lower viewport sizes
//! maybe better to have a different approach for different screen sizes
//! via breakpoints
#work-gallery-image-container {
  height: 100%;
  width: 100%;
  grid-row: 2 / 3;
  padding-left: 5vw;
  padding-right: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#work-gallery-image {
  width: fit-content;
  height: 45vh;
  object-fit: cover;
  // padding: 0 64px 0 64px;
  background-color: #ececec;
  // img {
  //   aspect-ratio: 1 / 4;
  // }
}

#work-gallery-controls-container {
  height: 100%;
  width: 100%;
  grid-row: 3 / 4;
  padding: 0 64px 0 5vw;
  // padding-left: 5vw;
  // padding-right: 64px;
  display: flex;
  justify-content: flex-end;
}

#work-gallery-controls {
  height: 64px;
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

//CSS render triangles
$ControlsHeight: 30px;
$TriBottom: calc($ControlsHeight * 0.33);
$TriSides: calc(($TriBottom / 0.8660254) / 2);
$IndicatorMarginTune: 2px;

.work-gallery-controls-arrow {
  width: 0;
  height: 0;
  border-right: $TriSides solid transparent;
  border-left: $TriSides solid transparent;
  border-bottom: $TriBottom solid $Black;
  // transform: rotate(-90deg);
  margin-top: calc(($ControlsHeight - $TriSides) / 2);
}

#work-gallery-controls-arrow-l {
  transform: rotate(-90deg);
}

#work-gallery-controls-arrow-r {
  transform: rotate(90deg);
}

.work-gallery-controls-click-area {
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 20;
  cursor: pointer;
}

#work-gallery-controls-click-area-l {
  right: -20px;
}

#work-gallery-controls-click-area-r {
  right: 20px;
}

#work-gallery-controls-indicator {
  height: $ControlsHeight;
  margin: $IndicatorMarginTune 16px 0 16px;
  background: $Black;
  border-radius: $ControlsHeight;
  display: flex;
  justify-content: center;
  align-items: center;
}

#work-details-container {
  grid-column: 3 / 4;
  height: 100vh;
  max-width: 480px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 5vw;
}

#work-details-bg {
  position: absolute;
  height: 35vh;
  width: 30vw;
  max-width: 480px;
  background: $Black;
  z-index: -1;
  opacity: 75%;
}

#work-details {
  max-width: 480px;
  display: grid;
  grid-template-columns: 40% 60%;
}

#work-details-col-1 {
  padding: 24px 16px 24px 16px;
}

#work-details-col-2 {
  padding: 24px 16px 24px 0;
}

.work-details-heading {
  color: $GrayLight;
  font-size: 10px;
}

.work-details-text {
  color: $White;
  font-size: 14px;
  margin-bottom: 10px;
}

#work-details-disciplines-badges-container {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
}

.work-details-discipline-badge {
  background: $GrayVeryLight;
  height: 24px;
  width: fit-content;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.work-details-discipline-badge-text {
  color: $Black;
  font-size: 10px;
}

#work-details-description-text {
  font-size: 10px;
}

//*INFO
#info {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // font-family: JetBrainsMono;
  // font-weight: light;
  p,
  span {
    color: $White;
  }
}

.info-heading {
  font-size: 26px;
}

.info-text {
  font-size: 18px;
}

#info-text {
  padding: 22vh 0 22vh 10vh;
  width: 48vw;
  display: flex;
  flex-direction: column;
}

#info-contact {
  font-size: 64px;
  a {
    all: unset;
  }
  // text-decoration: underline;
}

.info-underlined {
  text-decoration: underline;
}

// .info-non-nunderlined {
//   text-decoration: none;
// }

#info-image {
  position: relative;
  top: -135px;
  width: 52vw;
}

//*FOOTER
#footer {
  position: fixed;
  height: 48px;
  width: 100vw;
  bottom: 0;
  // mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  padding-left: 16px;
  padding-right: 32px;
}

#footer-bg {
  position: relative;
  background-color: $Black;
  bottom: 48px;
}

.footer-link {
  color: $White;
  text-decoration: underline;
  font-size: 10px;
  cursor: pointer;
}

#footer-credits {
  display: flex;
  color: $Black;
  font-size: 12px;
  span,
  p,
  a {
    mix-blend-mode: difference;
  }
}
