@use "./vars.scss" as *;

.home {
  width: 100vw;
  height: 100vh;
  background-color: $Black;
  font-size: 72px;
  // font-family: JetBrainsMono;
  // font-weight: light;
}

#bold {
  font-family: JetBrainsMono;
  font-weight: 700;
  color: $White;
}

#regular {
  font-family: JetBrainsMono;
  font-weight: 400;
  color: $Accent;
}

#light {
  font-family: JetBrainsMono;
  font-weight: 200;
  color: $GrayVeryLight;
}
