/*fonts */
@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono-Regular"),
    url(./assets/fonts/JetBrainsMono-Regular.ttf), format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono-Regular"),
    url(./assets/fonts/JetBrainsMono-Italic.ttf), format("ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono-Bold"), url(./assets/fonts/JetBrainsMono-Bold.ttf),
    format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono-Bold"),
    url(./assets/fonts/JetBrainsMono-BoldItalic.ttf), format("ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono-ExtraLight"),
    url(./assets/fonts/JetBrainsMono-ExtraLight.ttf), format("ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono-ExtraLightItalic"),
    url(./assets/fonts/JetBrainsMono-ExtraLightItalic.ttf), format("ttf");
  font-weight: 200;
  font-style: italic;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.text-1 {
  font-family: JetBrainsMono;
  font-weight: 700;
}

.text-2 {
  font-family: JetBrainsMono;
  font-weight: 400;
}

.text-3 {
  font-family: JetBrainsMono;
  font-weight: 200;
}
