@use "./vars.scss" as *;
@use "./breakpoints.scss" as *;

body,
html {
  // background-color: #161717;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

//*NAVBAR
#navbar {
  position: fixed;
  height: 48px;
  width: 100vw;
  // mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  background-color: $Black;
}

#navbar-title {
  color: $White;
  padding-left: 16px;
  cursor: pointer;
}

#navbar-menu {
  display: flex;
  gap: 16px;
  padding-right: 32px;
  font-size: 14px;
  color: $White;
  p {
    cursor: pointer;
  }
}

//*HOME FIXED ELEMENTS
// #home-fixed {
//   position: absolute;
//   height: 100vh;
//   width: 100vw;
//   opacity: 100%;
//   z-index: -20;
//   display: flex;
// }

// #home-persistent-bg {
//   color: $Black;
//   position: fixed;
//   height: 1000vh;
//   width: 100vw;
// }

#blend-stage {
  position: fixed;
  inset: 0;
  pointer-events: none;
  isolation: auto; // 👈 REQUIRED
  z-index: -5;
}

#home-bg-logo-container {
  position: fixed;
  top: -240px;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  svg {
    opacity: 60%;
    width: 30vw;
    // z-index: 1000;
    overflow-y: hidden;
  }

  @include down($bp-lg) {
    left: -40vw;
    max-width: none;
    width: 180vw;
    top: -240px;

    svg {
      max-width: none;
      width: 60vw;
      overflow: hidden;
    }
  }

  @include down($bp-md) {
    left: -25vw;
    max-width: none;
    width: 150vw;
    align-items: center;

    svg {
      max-width: none;
      width: 50vw;
      overflow: hidden;
    }
  }

  @include down($bp-sm) {
    left: -62.5vw;
    max-width: none;
    width: 225vw;
    align-items: center;
    top: 0;

    svg {
      max-width: none;
      width: 75vw;
      overflow: hidden;
    }
  }
}

// .svg-logo {
//   position: fixed;
// }

#home-bg-invert-layer {
  position: absolute;
  // overflow-y: hidden;
  top: 48px;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background: rgba(0, 0, 0, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(33, 33, 33) 25%,
    rgb(224, 224, 224) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  mix-blend-mode: difference;
  opacity: 100%;
  z-index: -10;

  @include down($bp-sm) {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgb(33, 33, 33) 25%,
      rgb(74, 74, 74) 75%
    );
  }
  // filter: blur(16px);
}

// #home-content {
//   background: $Accent;
// }

//*LOADING
#loading-screen {
  position: fixed;
  // top: -100vh;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $Black;
  svg {
    width: 10vw;
  }
  img {
    width: 25vw;
  }
  p {
    font-size: 128;
    color: $GrayVeryLight;
    padding-top: 16px;
  }
}

#loading-underscore-blink {
  animation: blink 600ms steps(1, end) infinite;
  span {
    font-size: 128;
    color: $GrayVeryLight;
    padding-top: 16px;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#loading-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-counter {
  color: $White;
}

//*LANDING
#landing {
  width: 100vw;
  height: 100vh;
  @include down($bp-sm) {
    display: flex;
    justify-content: center;
  }
}

#landing-title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  @include down($bp-sm) {
    height: 40vh;
    // text-overflow: clip;
    // overflow: hidden;
    white-space: nowrap;
  }
}

#landing-title {
  position: absolute;
  color: $White;
  font-size: 17.5vw;
  mix-blend-mode: difference;
  // z-index: --;
  @include down($bp-sm) {
    font-size: 30vh;
    // text-overflow: clip;
    // overflow: hidden;
    white-space: nowrap;
  }
}

#landing-title-placeholder {
  position: absolute;
  color: $White;
  font-size: 17.5vw;
  mix-blend-mode: difference;
  z-index: 0;
}

#landing-capabilities {
  position: absolute;
  color: $White;
  padding-top: 76px;
  padding-left: 16px;
  p {
    font-size: 0.8vw;
    color: $GrayLight;
  }

  .indent-1 {
    padding-left: 0;
  }

  .indent-2 {
    padding-left: 0.8vw;
  }

  @include down($bp-xl) {
    p {
      font-size: 1.2vw;
    }
  }

  @include down($bp-md) {
    p {
      font-size: 1.6vw;
    }
  }
}

#landing-flavour {
  position: absolute;
  color: $White;
  top: 70vh;
  left: 65vw;
  padding-top: 16px;
  padding-left: 16px;
  width: 20vw;
  p {
    font-size: 0.8vw;
    color: $Black;
  }

  @include down($bp-xl) {
    p {
      font-size: 1.2vw;
    }
  }

  @include down($bp-md) {
    p {
      font-size: 1.6vw;
    }
  }

  @include down($bp-sm) {
    position: block;
    top: 80vh;
    left: 0;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    p {
      font-size: 3vw;
      color: $White;
      mix-blend-mode: difference;
    }
  }
}

#landing-scroll-cta-container {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  @include down($bp-sm) {
    visibility: hidden;
  }
}

#landing-scroll-cta {
  height: 86px;
  width: 185px;
  margin-left: auto;
  margin-right: auto;
  background: $Black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    rgba(22, 23, 23, 1) -100%,
    rgba(103, 103, 103, 1) 160%
  );
  p {
    color: $Accent;
  }
}

#landing-cta-arrow {
  transform: rotate(90deg);
}

//*REEL
#reel {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: linear-gradient(
    to bottom,
    rgba(22, 23, 23, 0) 0%,
    rgba(22, 23, 23, 1) 80%,
    rgba(22, 23, 23, 1) 100%
  );
}

#tele-container {
  display: flex;
  align-items: center;
}
// #reel-image {
//   position: relative;
//   top: 0;
//   height: 100vh;
//   width: 100vw;
// }

// #reel-tv-canvas {
//   position: fixed;
//   top: 0px;
//   bottom: 0px;
//   // height: 100vh;
//   // width: 100vw;
// }

// #reel-tv-dialog {
//   position: absolute;
//   background: red;
//   z-index: 100;
//   // top: 0;
//   // left: 0;
//   width: 100px;
//   height: 100px;
// }

//*WORK
#work {
  width: 100vw;
  height: 100vh;
  background-color: $Black;
  // font-family: JetBrainsMono;
  // font-weight: light;
}

#work-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#work-container {
  width: 85vw;
  height: 70vh;
}

#work-gallery {
  width: 100%;
  height: 100%;
  p {
    color: $White;
    font-size: 12px;
  }
  overflow: hidden;
}

#work-margin-top {
  background-color: $Black;
  position: relative;
  top: -7.5%;
  width: 100vw;
  height: 15%;
  z-index: 10;
}

#work-margin-bottom {
  position: relative;
  background-color: $Black;
  position: relative;
  bottom: -5%;
  width: 100vw;
  height: 15%;
  z-index: 10;
}

.work-grid-row::after {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 0;
  width: 100%;
  height: 1px; /* thickness of the border */
  background: $White; /* border color */
  border-radius: 2px; /* half of height for fully rounded ends */
  opacity: calc(1 - var(--hide-border)); /* 0 if --hide-border is 1 */
}
.work-grid-row-main {
  height: 90px;
  padding: 12px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: $Black;
}

.work-grid-row-secondary {
  height: 90px;
  padding: 12px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  background: $Black;
}

.work-grid-row-images {
  height: 200px;
  overflow: hidden;
  display: flex;
  padding-left: 12px;
  background: $Black;
}

.work-grid-image-placeholder {
  background-color: $GrayDark;
  margin-right: 12px;
}

#work-grid-published {
  text-align: right;
}

//*INFO
#info {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: $Black;
  background: linear-gradient(
    to bottom,
    rgba(22, 23, 23, 1) 0%,
    rgba(22, 23, 23, 1) 5%,
    rgba(22, 23, 23, 0) 100%
  );
  // font-family: JetBrainsMono;
  // font-weight: light;
  p,
  span {
    color: $White;
  }
}

.info-heading {
  font-size: 26px;
}

.info-text {
  font-size: 18px;
}

#info-text {
  padding: 22vh 0 22vh 10vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

#info-contact {
  font-size: 64px;
  a {
    all: unset;
  }
  // text-decoration: underline;
}

.info-underlined {
  text-decoration: underline;
}

// .info-non-nunderlined {
//   text-decoration: none;
// }

#info-tele-container {
  width: 50vw;
  height: 100vh;
}

//*FOOTER
#footer {
  position: fixed;
  height: 48px;
  width: 100vw;
  bottom: 0;
  // mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;

  // padding-left: 16px;
  padding-right: 32px;
}

#footer-bg {
  width: 100vw;
  height: 48px;
  position: absolute;
  z-index: -100;
  background-color: $Black;
  // bottom: -48px;
}

#footer-contact {
  padding-left: 16px;
}

.footer-link {
  color: $White;
  text-decoration: underline;
  font-size: 10px;
  cursor: pointer;
}

#footer-credits {
  display: flex;
  color: $White;
  font-size: 12px;
  span,
  p,
  a {
    mix-blend-mode: difference;
  }
}
